.popover-btn {
  display: inline;
  font-size: 16px;
  background-color: var(--background-color);
  width: 25px;
}

.popover,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;

  z-index: 1000;
}

.overlay {
  background: var(--background-color-50p);
}
.popover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popover-content {
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
  background: var(--background-light-color);
  padding: 15px;
  width: 85vw;
  height: 85vh;
  max-height: 90vh;
  overflow-x: auto;
}

@media screen and (max-width: 600px) {
  .popover {
    padding: 5px;
  }
  .popover-content {
    padding: 5px;
  }
}
