.input-wrapper {
  border: 2px solid var(--background-dark-colo);
  border-radius: 5px;
  min-height: 25px;
  padding: 5px;
  background-color: var(--background-light-color);
  display: flex;
  align-items: center;
}
.search-icon {
  cursor: pointer;
}

.search-input {
  width: 70%;
  flex-grow: 1;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  margin-left: 5px;
  margin-right: 0px;
  color: var(--light-text-color);
}

.search-input:focus {
  outline: none;
}
.select-container {
  width: max-content;
}
