.form-label {
  font-size: 16px;
  margin-bottom: 5px;
}

.form-input,
.form-input[type='date'],
.form-input[type='number'],
.form-input[type='text'] {
  padding: 10px;
  border: 1px solid var(--lightGrey);
  border-radius: 5px;
  font-size: 14px;
  color: var(--mainGrey);
  background-color: var(--backgroundColor);
  resize: none;
}

.form-input:focus,
.form-input[type='date']:focus,
.form-input[type='number']:focus,
.form-input[type='text']:focus {
  outline: none;
  border-color: var(--mainBlueColor);
  box-shadow: 0 0 0 0.2rem var(--mainPurpleColor-30p);
}
