.table {
  width: 100%;
  background-color: var(--background-color);
  border-radius: 24px;
}

.table-head-cell {
  background-color: var(--background-light-color);
  padding: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--highlight-text-color);
  justify-content: space-between;
}

.sort-icon {
  vertical-align: middle;
  cursor: pointer;
}

.table-row {
  border: 5px solid;
}

.table-data-cell {
  padding: 10px;
  border: 2px solid var(--background-light-color);
}
