#root {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);
  color: var(--light-text-color);
}
body {
  margin: 0;
  width: 100%;
}
* {
  font-family: "Assistant", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

main {
  align-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-inline: 80px;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 900px) {
}
