#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  margin: 0;
  width: 100%;
}
* {
  font-family: "Assistant", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

main {
  align-self: center;
  width: 100%;
  padding-inline: 80px;
  margin-bottom: 16px;
  background: var(--backgroundColor);
}

a {
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  main {
    padding-inline: 20px;
    width: 90%;
  }
}
