/**place for all colors and styling properties */
:root {
  --background-color: #0e0e0e;
  --background-color-50p: #0e0e0e80;
  --background-secondary-color: #1c1c1c;
  --background-dark-color: #010101;
  --background-light-color: #2e2e2e;
  --purple-color: #5a2e98;
  --green-color: #0d570d;
  --red-color: #b31919;

  --light-text-color: #f6f7f4;
  --highlight-text-color: #f5e06a;
}
